/* adicionando border radious nas imagens e deixando em coluna */
/* body {
    background-image:url('../img/background.png');
    background-size: auto;
    background-repeat:no-repeat ;
} */

html{
    background-image: url('../img/historia\ do\ cinema.png');
    background-size: cover;

}

p{
    color: white;
    font-size: x-large;
    
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    background-color: #1618a1;
    border-radius: 20%;
    font-weight: bolder;
}

h1{
    color: white;
    background-color: #1618a1;
    border-radius: 12px;
}
.imagens1 img {
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    background-color:#1618a1;
    margin-top: 2vh;
    padding: 1vh;
}

.imagens1 div p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    color: white;
    font-weight: bolder;
}

/*Deixando nome do lado da foto*/

.nomes1 li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    color: white;
}
.alunos{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    border-radius: 50%;
    align-items: center;
}

footer div{
    background-color: #1618a1;
    border-radius: 20%;
}