@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.menu {
    background-color: #002F6C;
    /* azul institucional */
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    /* fixo no topo */
    top: 0;
    z-index: 1000;
}

.menu-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu-nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu-nav a:hover {
    color: #aad4ff;
}